* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

header {
  position: fixed;
  width: 100%;
  height: 76px;
  background-color: rgba(0, 0, 0, 0.267);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 5%;
  backdrop-filter: blur(30px);
}

section:nth-of-type(1) {
  background-image: url("../../img/heroImage.jpg");
  background-size: cover;
  overflow: hidden;
}

section:nth-of-type(2) {
  background-color: #fdff99;
}

section:nth-of-type(3) {
  background-color: #99ffaf;
}

section:nth-of-type(4) {
  background-color: #99f8ff;
}

section:nth-of-type(5) {
  background-color: #b499ff;
}
section:nth-of-type(6) {
  background-color: #ff9999;
}

.logo {
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_btn {
  width: 20px;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu_btn > .line {
  display: block;
  position: relative;
  width: 28px;
  height: 3px;
  background-color: #fff;
}

.menu_btn > #topLine {
  position: absolute;
  top: 25px;
}

.menu_btn > #middleLine {
  position: absolute;
  top: 35px;
}

.menu_btn > #bottomLine {
  position: absolute;
  top: 45px;
}

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.267);
  transition: all 0.3s ease;
}

.menu_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_item {
  display: flex;
  cursor: pointer;
}

.navbar.active {
  height: auto;
}

.navbar ul {
  position: relative;
  text-align: center;
}

.navbar ul > li > a {
  display: flex;
  padding: 1rem 0;
  color: #fff;
  box-sizing: border-box;
}

.menu_item > a {
  position: relative;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.menu_item > a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.4s ease;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
}

.menu_item > a:hover::before {
  opacity: 1;
}

section {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media (min-width: 768px) {
  header {
    padding: 10px 10%;
  }
  .navbar,
  .navbar.active {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto !important;
    background: transparent;
    backdrop-filter: none;
    transition: none;
    box-shadow: none;
  }

  .menu_btn {
    display: none;
  }

  .navbar ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1.5rem;
  }

  .navbar ul > li > a {
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 1.1rem;
  }

  .menu_item {
    width: auto;
    position: relative;
    background-color: transparent;
  }

  .menu_item > a {
    padding: 5px 0;
    width: auto;
  }

  .menu_item > a:hover {
    color: #000;
  }

  .menu_item > a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 3px solid#b499ff;
    width: 0;
    transition: all 0.4s ease;
    background-color: transparent;
  }

  .menu_item > a:hover::before {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 1.3rem 15%;
  }
}
