.menu.active {
  transform: translateX(20px) translateY(-10px);
  opacity: 1;
  z-index: 99;
}

.menu > ul > li.hovered {
  text-shadow: #ffffff 5px 8px;
  transform: translateY(-5px);
}

.back.active {
  transform: rotate(360deg);
}

.back_wrap.active {
  transform: scale(1.4);
}
