@font-face {
  font-family: "Druk Wide Web";
  src: url("/Font/DrukWide-Super-Web.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
}

body {
  background: #4801ff;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  list-style: none;
}

header {
  position: fixed;
  top: 300px;
  left: 50px;
  width: 40px;
  height: 400px;
  padding: 10px 15px;
  z-index: 99;
  display: flex;
  justify-content: center;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(154, 114, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: -1;
  box-shadow: -10px 0px 20px rgb(141, 103, 230);
}

.content {
  height: 100vh;
}

.content-wrap {
  height: 100%;
  padding: 8em 0 0 0;
  display: flex;
  justify-content: flex-end;
  perspective: 300px;
  transform-style: preserve-3d;
}

.content-wrap > ul {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  transform-style: preserve-3d;
  perspective: 300px;
  gap: 40px;
}

.content-wrap > ul > li {
  width: 100%;
  text-align: right;
  cursor: pointer;
  transform-style: preserve-3d;
}

.content-wrap > ul > li > p {
  transform: rotateY(-7deg) translateZ(0) scale(1);
  transform-origin: right center;
  transform-style: preserve-3d;
  will-change: transform;
}

.content-wrap > ul > li > p > a {
  font-family: "Druk Wide Web";
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 0.9em;
  font-weight: 900;
  text-shadow: rgb(219, 219, 219) 10px 13px;
}
