<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/about.css" />
  <link rel="stylesheet" href="../css/anime.css" />
  <script src="../js/about.js" defer></script>
  <title>About</title>
</head>

<body>
  <header>
    <div class="showInterduce">
      <h2>
        <p>Best Product</p>
        <p>Developer</p>
        <p>[ Kim'Minam ]</p>
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam voluptatum laudantium corporis quas
        odio
        eum autem sint facilis vitae impedit consequuntur rem dignissimos, esse labore unde illum aliquid veniam!</p>
    </div>
    <div class="photo_wrap">
      <div class="photo_line">
        <div class="km_photo"></div>
      </div>
    </div>
  </header>
  <div class="back_wrap">
    <button type="button" class="back"></button>
  </div>
  <section class="my_information">
    <h1>I AM.......</h1>
    <aside class="school">
      <article class="elementary_school">
        <p class="school_name">서울삼전초등학교</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nobis magni, accusamus dolorem laborum
          unde voluptatibus ratione qui libero odio corporis distinctio sed vero minima maxime amet corrupti eos
          explicabo.</p>
      </article>
      <article class="middle_school">
        <p class="school_name">아주중학교</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nobis magni, accusamus dolorem laborum
          unde voluptatibus ratione qui libero odio corporis distinctio sed vero minima maxime amet corrupti eos
          explicabo.</p>
      </article>
      <article class="high_school">
        <p class="school_name">서울디지텍고등학교</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nobis magni, accusamus dolorem laborum
          unde voluptatibus ratione qui libero odio corporis distinctio sed vero minima maxime amet corrupti eos
          explicabo.</p>
      </article>
    </aside>
  </section>
  <section></section>
  <section></section>
  <section></section>
</body>

</html>