<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/anime.css" />
    <script src="../js/about.js" defer></script>
    <title>About</title>
  </head>
  <body>
    <header>
      <h1>KM About</h1>
      <h2>
        <p>Best</p>
        <p>Product</p>
        <p>Developer</p>
      </h2>
    </header>
    <div class="back_wrap">
      <button type="button" class="back"></button>
    </div>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </body>
</html>
